!!!
html
  head
    style
      .content {
        width: 1100px;
      }
      .content-block {
        width: 310px;
        float: left;
        margin: 10px;
        border: 1px solid #363;
        background-color: #eee;
      }
      
      .content-header {
        text-align: center;
        width:310px;
        padding-top: 0.5em;
        height: 1.5em;
        background-color: #363;
      }
      a {
        text-decoration: none;
      }
      a  .content-header {
        font-size: 24pt;
        color: white;
      }
      a {
        display: inline;
      }
      header h1 {
        padding-left: 10px;
      }
      body {
        background-color: #ddd;
      }
      .content {
        padding: 5px;
      }
      .content-description {
        font-size: 12pt;
        padding: 10px;
        color: #363;
      }
  body
    
    .content
      header
        h1 255 BITS LLC
      a(href='http://blog.255bits.com') 
        .content-block
          .content-header Blog
          .content-description The 255 BITS blog.
      a(href='http://blog.255bits.com/projects/')
        .content-block
          .content-header Projects
          .content-description The 255 BITS toolset.
      a(href='http://blog.255bits.com/contact/')
        .content-block
          .content-header Consulting
          .content-description Learn more.
      a(href='https://github.com/255BITS')
        .content-block
          .content-header GitHub Page
          .content-description The 255 BITS GitHub account.
