!!!
html
  head
    style
      .content {
        margin-left: 100px;
        width: 1150px;
      }
      .content-block {
        width: 300px;
        float: left;
        padding: 10px;
        margin: 10px;
        border: 1px solid #363;
        border-radius: 10px;
      }
      a.content-header {
        text-decoration: none;
        font-size: 24pt;
      }
      header h1 {
        padding-left: 10px;
        color: #363;
      }
      body {
        background-color: #333;
      }
      .content {
        background-color: #ddd;
        height: 800px;
        padding: 30px;
      }
  body
    
    .content
      header
        h1 255 BITS
      .content-block
        a(href='http://blog.255bits.com').content-header Blog
        .content-description The 255 BITS blog.
      .content-block
        a(href='http://blog.255bits.com/projects/').content-header Tools
        .content-description The 255 BITS toolset.
      .content-block
        a(href='http://blog.255bits.com/contact/').content-header Consulting
        .content-description Learn more.
      .content-block
        a(href='https://github.com/255BITS').content-header GitHub Page
        .content-description The 255 BITS GitHub account.
